body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0;
}


header{
    padding: 10px 9%;
}

#hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: max-content;
}

#hamburger div{
    width: 30px;
    height: 3px;
    background-color: black;
}

.hidediv{
    display: none;
}

#logo{
    width: 70px;
    height: 50px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: darkblue;
    transition: ease-in-out 0.2s;
    transform: scale(1.03);
}

nav{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

button{
    height: 40px;
    background-color: goldenrod;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    color: white;
}
button:hover{
    transition: ease-in-out 0.2s;
    background-blend-mode: darken;
    background: rgba(218, 165, 32, 0.484);
}

#loginbtn:hover, #morebtn:hover{
    transform: scale(1.1);
}

input{
    height: 33px;
}

main{
    padding: 10px 100px;
}

.divider {
  position: relative;
  line-height: 0;
}

.divider svg {
  display: block;
}

.divider .wave-top {
  position: relative;
  margin-top: -40px; 
}


#hero{
    color: white;
    background-image: url("../images/IMG_20191220_222402.jpg");
    background-size: cover;
    padding: 100px 0 100px 0;
}

#herotext{
    width: 40%;
    padding-left: 9%;
}

#herotabs{
    display: flex;
    gap: 10px;
}

#herosub{
    padding-left: 9%;
    padding-bottom: 50px;
}

.herotab{
    width: 100px;
    word-wrap: break-word;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 5px 5px 0 0;
    font-size: 0.9rem;
}

.activetab{
    background-color: white;
    color: black;
}

#heroselect{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: max-content;
    padding: 10px 10px;
    border-radius: 0 5px 5px 5px;
}

label{
    color: darkblue;
}

#aboutus{
    padding: 30px 0 10px 0;
    background-color: rgba(128, 128, 128, 0.155);
}

#aboutushr{
    background-color: white;
    border: none;
    width: 63%;
    height: 2px;
    margin-left: 10px;
}

#abouttext{
    width: 60%;
    text-align: center;
    margin: auto;
    line-height: 30px;

}
#abouttext h2{
    font-size: 2rem;
    margin: 0;
}

#cards{
    display: flex;
    margin: 50px 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.card{
    width: 180px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    color: darkblue;
}
.card:hover{
    transition: ease-in-out 0.2s;
    transform: scaleY(1.05);
    background-color: darkblue;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}

.card img{
    width: 100%;
    max-width: 180px;
    height: 150px;
    border-radius: 9px 9px 0 0;
}

.cardtitle{
    padding: 10px 0;
    border-radius: 0 0 10px 10px ;
}

#training{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training img{
    width: 50%;
    height: 500px;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
}

#trainingtext, #horsestext{
    padding: 30px 0;
    width: 35%;
    margin: 10px 0 10px 9%;
    line-height: 30px;
}

#trainingtext h1, #horsestext h1{
    font-size: 2rem;
    color: darkblue;
    margin: 0;
}

#horses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    /* margin-bottom: -20px; */
}

#horsestext{
    width: 25%;
}

hr{
        background-color: goldenrod;
        width: 50px;
        height: 2px;
        border-radius: 20px;
        margin-left: 0;
    }

.carousel{
    display: flex;
    width: 60%;
    padding: 30px 0;
    margin: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}

.carouselimg{
    flex: 0 0 33.3%;
    background-size: cover;
    height: 250px;
}

#actcarousel{
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
#actcarousel button{
    padding: 5px;
    border-radius: 10px;
    height: 60px;
    width: 40px;
    background-color: grey;
    color: white;
}
#actcarouselid{
    gap: 10px;
    width: max-content;
    display: flex;
    padding: 30px 0;
    margin: 0;
}

.activeimg{
    transition: ease-in-out 0.2s;
    transform: scale(1.07);
    box-shadow: 2px 2px  10px rgba(0, 0, 0, 0.897);
}

.horseblank{
    height: 82%;
}

.horsedet{
    border-top: 2px solid white;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    padding: 0 10px;
    height: 30px;
}

.horsedet h3, .horsedet p{
    margin: 10px 0;
}

.horsedet p{
    font-size: 0.7rem;
}

footer{
    background-color: darkblue;
    color: white;
    padding-top: 30px;
}

#footercontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px 9% 10px 9%;
}

footer img{
    width: 200px;
    height: 100px;
}

footer hr{
    width: 95%;
    background-color: rgba(255, 255, 255, 0.354);
    height: 2px;
    border: none;
    margin-left: auto;
}

.footersub{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footersub p{
    width: 300px;
    word-wrap: break-word;
    margin: 0;
}

.footersub a{
    color: white;
}

.footersub  a:hover{
    color: grey;
    transition: ease-in-out 0.2s;
    transform: scale(1.0);
}

#footerend{
    text-align: center;
    padding-bottom: 5px;

}


@media (min-width: 1728px){
    #horses{
        padding-bottom: 0;
    }
    #footercontent{
        padding-top: 100px;
    }
}

@media (max-width: 1023px){
    #heroselect{
        flex-wrap: wrap;
        min-width: 70%;
    }

    #hero{
        word-wrap: break-word;
    }

    #training, #horses{
        flex-direction: column;
    }

    #trainingtext, #horsestext{
        width: 90%;
        text-align: center;
        margin: auto;
    }

    #training img{
        width: 90%;
        clip-path: polygon(0% 0%, 100% 0%,100% 100%, 0% 100%)
    }

    hr{
        margin-left: auto;
    }

    .carousel{
        width: 90%;
        padding: 30px 0;
        margin: 0 auto;
        overflow-x: hidden;
    }

    #footercontent {
        grid-template-columns: 1fr 1fr;   
    }
}

@media (max-width: 768px) {
    #heroselect{
        width: 95%;
    }

    #hero{
        margin: auto;
    }

    #herotext, #herosub{
        padding: 9%;
    }

    #abouttext, #herotext{
        width: 80%;
    }
    #aboutushr{
        width: 100%;
        height: 2px;
        margin: auto;
    }

    .carouselimg{
        flex: 0 0 34%;
        background-image: url("../images/IMG_20191025_224137.jpg");
        background-size: cover;
        height: 220px;
    }

    .horseblank{
        height: 78%;
    }
    .horsedet{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0 10px;
        height: 30px;
    }

    .horsedet h3, .horsedet p{
        margin: 0;
    }

    #footercontent {
        grid-template-columns: 1fr;   
    }

    .footersub p{
        min-width: 100px;
    }
}